apps/symfony/.env.local
apps/symfony/.env.local.php
apps/symfony/.env.*.local
apps/symfony/config/secrets/prod/prod.decrypt.private.php
apps/symfony/public/bundles/
apps/symfony/var/
apps/symfony/vendor/
apps/symfony/composer.phar

###> lexik/jwt-authentication-bundle ###
apps/symfony/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
apps/symfony/public/media/
